.top-box__h3{
    color: #b6b0a9;
}

#topBox{
    margin-top: 3%;
    margin-left: 10%;
}

hr{
    width: 89%;
    height: 3px;
    background-color: #353535;
    border: 0;

}

.hr2{
    width: 100%;
    height: 2px;
    background-color: #b6b0a9;
    border: 0;
}
#middleBox{
    display: flex;
    justify-content: center;
}

#mainBox{
    width: 65%;
    height: 100%h;
    margin-bottom: 100px;
}

#navBox{
    width: 13%;
    height: 50vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #f0ece6;
    position: sticky;
    top: 30%;
    margin-left: 2%;
}

.nav-text{
    margin-left: 20px;
    margin-top: 20px;
    color: #98938d;
}
.nav-text:nth-child(1){
    color: #98938d;
    font-weight: bold;
    background-color: #ccccc4;
    border-radius: 100px;
    width: 75px;
    text-align: center;
}

.course-box{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-box{
    width: 20%;
    height: 150px;
    background-color: #353535;
}
 .course-info__box{
    display: flex;
    justify-content: space-between;
    width:78%;
    margin-left: 2%;
} 


.course-icon{
    font-size: 25px;
    cursor: pointer;
}

.course-name{
    font-size: 2rem;
    margin-bottom: 10px;
}
.course-start{
    margin-bottom: 10px;
}

.course-info span{
    margin-right: 10px;
}

.count-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.count-box__distance{
    display: flex;
    color: #98938d;
}
.count-box__distance-text a{
    margin-right: 5px;
    color: #98938d;
}



#contentBox{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    
}

#mapBox{
    margin-top: 50px;
    width: 100%;
    height: 60vh;
}

#count{
    float: right;
    
}
.radio-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.share-check__box1{
    display: flex;
    justify-content: space-between;
    /* margin-top: 60px; */
    border: 1px solid #353535;
    padding: 15px;
    width: 45%;
    /* margin-left: auto;
    margin-right: auto; */
}

.share-check__box2{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    border: 1px solid #353535;
    padding: 15px;
    width: 45%;
    /* margin-left: auto;
    margin-right: auto; */
}

.button-box{
    margin-top: 30px;
    text-align: center;
}
.btn-btn{
    font-size: 1.3em;
}
.btn-submit{
    background-color: #353535;
    color: white;
    font-size: 1.3em;
}