.container {
  display: flex;
  flex-direction: row;
}
.tag.active {
  border-bottom: solid 3px var(--a-color);
}
/* .pagination {
  display: flex;
  flex-direction: row;
	text-align:center;
	font-size:0;
 } */
.pagination {
  display: inline-block;
}

.pagination li {
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
}
.pagination li a {
  color: #999999;
}

.pagination .arrow {
  border: 1px solid #ccc;
}

.pagination li.active {
  background-color: #42454c;

  border: 1px solid #42454c;
}

.pagination li.active {
  color: #fff;
}

.sort-list.active {
  border-bottom: solid 3px var(--a-color);
}
