#photosMainBox{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#photoLeftBox{
    background-color: slategrey;
    width: 50%;
    height: 400px;
}

#photoRightBox{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
#photoRightBox-left,#photoRightBox-right{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    
}

.photo-mini-Box{
    width: 100%;
    height: 195px;
    background-color: slategrey;
    margin-bottom: 10px;
}

#ModalBtn{
    background-color: #353535;
    opacity: 0.8;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
    text-align: center;
    font-size: 8em;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#ModalBtn:hover{
    opacity: 0.4;
}

#lastImage{
    position: relative;
    display: inline-block;
    top: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#mainModal{
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 10%;
    left: 5%;
    border-radius: 50px;
    background-color: white;
    z-index: 500;
    box-shadow: 3px 3px 4px 1px grey;
}

#cancelIconBox{
    margin-left: 95.5%;
    margin-top: 2%;
    width: 3%;
    cursor: pointer;
    color: red;
    margin-bottom: 3%;
}
