<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
 <th:block layout:fragment="css">
 <link rel="stylesheet" th:href="@{/css/placedetail.css}">
</th:block> 

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script" >
	<script th:src="@{/js/placedetail.js}" defer></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e51142908a50d68c98944e3b54d529"></script>
</th:block>

<div layout:fragment="content">

<input type="hidden" id="place" name="contentId" th:value="${contentId}" readonly="readonly"></input>
<div id="placeDetail">
</div>

</div>   
</html>