<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
 <th:block layout:fragment="css">
 <link rel="stylesheet" th:href="@{/css/placedetail.css}">
</th:block> 

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script" >
	<script th:src="@{/js/placedetail.js}" defer></script>
	<script th:src="@{/js/addCourse.js}" defer></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e51142908a50d68c98944e3b54d529"></script>
</th:block>

<div layout:fragment="content">

<th:block th:if="${session.user == null}">
    <span id="num" data-id="out"></span>
</th:block>
<th:block th:unless="${session.user == null}">
    <span id="num" th:data-id="${session.user.userNum}"></span>
</th:block>

<input type="hidden" id="hiddenPlaceId" name="contentId" th:value=${contentId} readonly="readonly"></input>

<div id="placeDetail">
  <div id="placeName">
  
  </div>
  <hr>
  
  <div id="list">관광지 목록들 출력할거에요</div>
  <div id="likeAndFavorite">
    <div id=heart  onclick="updateLike()">
      <div class="heart">
      </div>
    </div>
    <span id="favorite" onclick="updateFavorite()">
      <i class="fas fa-star"></i>
    </span>
    
    <!-- 유저사진 포토넣기 -->
    <span id="updatePhoto">
      <i class="far fa-file-image"></i>
    </span>
    <div class="user-modal hidden">
    <div class="bg"></div>
    <div class="modalBox">
    <button class="closeBtn"><i class="fas fa-times"></i></button>
    <form th:action="@{/api/place/detail/photo}" method="POST" enctype="multipart/form-data" target="iframe1">
    <th:block th:if="${session.user == null}">
    <span id="name" data-id="out"></span>
    </th:block>
    <th:block th:unless="${session.user == null}">
    <input type="hidden" id="lId" name="loginId" th:value=${session.user.name}></input>
    <input type="hidden" id="uNum" name="loginNum" th:value=${session.user.userNum}></input>
    </th:block>
    <input type="text" id="placeContent" name="contentId"></input>
    <input type="file"  multiple="multiple" name="images" id="userPicture"/>
    <button type="submit" onclick="insertUserPicture()">사진 등록하기</button>
    </form>
    <iframe id="iframe1" name="iframe1" style="display:none"></iframe>
    </div>
    </div>
    <div class="modal hidden" id="addModal" >
      <div id="courseList"></div>
      <div id="createCourse" class='hidden'>
            <input type="text" name="name" placeholder="코스 이름을 정해주세요" id="courseName"/>
            <button type="button" onclick="createCousre() ">코스만들기</button>
      </div>
      <button type="button" onclick="showInput()" class="create-btn">코스만들기</button>
    </div>
   
   <!--/* 코스담기 버튼 */-->
    <span id="addCourse" onclick="showCourses()" >
    <i class="fas fa-share-square"></i>
    </span>
    
    <!--/* 코스담기모달 */-->
   <!--  <div class="modal">
      <div id="courseList"></div>
      <div id="createCourse">
            <input type="text" name="name" placeholder="코스 이름을 정해주세요" id="courseName"/>
            <button type="button" onclick="createCousre() ">코스만들기</button>
    </div></div> -->

  </div>
  <hr>
  
  <div id="picture">
  
  </div>
  <hr>
  <div id="placeInfo">
  
  </div>
  <hr>
  <div id="placeMap">
  
  </div>
</div>
<hr>

<div id="answer">
<th:block th:if="${session.user != null}">
  <div id="answerInsert">
    <input type="hidden" id="uNum"name="loginNum" th:value=${session.user.userNum}></input>
    <input type="hidden" id="lId" name="loginId" th:value=${session.user.name}></input>
    <input type="hidden" id="lPhoto" name="loginPhoto" th:value=${session.user.photo}></input>
    <textarea id="content" name="content" onblur="forceOut(this.value)"></textarea>
    <button onclick="insertAnswer()">보내기</button>
  </div>
  </th:block>
  <th:block th:if="${session.user == null}">
  <span>로그인후 작성가능합니다</span>
  </th:block>
</div>

<div id="answerList">


</div>



<!--/* 유저사진 등록 모달 */-->

</div>   
</html>