<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
 <th:block layout:fragment="css">
 <link rel="stylesheet" th:href="@{css/placelist.css}">
</th:block> 

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script" >
	<script th:src="@{js/placelist.js}"></script>
</th:block>

<div layout:fragment="content">
<!--/* 슬라이드 구성 */-->
 <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <img class="simg" src="img/83tower.jpg">
        <div class="text">대구광역시 83타워</div>
      </div>

      <div class="mySlides fade">
        <img class="simg" src="img/ducksugung.jpg">
        <div class="text">서울 특별시 덕수궁</div>
      </div>

      <div class="mySlides fade">
        <img class="simg" src="https://divisare-res.cloudinary.com/images/f_auto,q_auto,w_800/v1491425448/rnelglmoujifzlbzykxw/acne-studios-acne-studio-potsdamer-strasse.jpg">
        <div class="text">ACNE STUDIO</div>
      </div>

      <div class="mySlides fade">
        <img class="simg" src="https://divisare-res.cloudinary.com/images/f_auto,q_auto,w_800/v1491425434/coct9kmra7uhmeu4cxto/acne-studios-acne-studio-potsdamer-strasse.jpg">
        <div class="text">ACNE STUDIO</div>
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
      <a class="next" onclick="moveSlides(1)">&#10095;</a>
    </div>
    <br/>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(0)"></span>
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

<!--/* 슬라이드 구성 끝 */-->

<div id="mainCity" th:text="서울" ></div>
<hr/>

<div class="cityBtn">
	<button class="cityList" id="cityList" value="서울" onclick="printName(this.value)" autofocus="autofocus">서울</button>
	<button class="cityList" id="cityList" value="부산" onclick="printName(this.value)">부산</button>
	<button class="cityList" id="cityList" value="대구" onclick="printName(this.value)">대구</button>
	<button class="cityList" id="cityList" value="인천" onclick="printName(this.value)">인천</button>
	<button class="cityList" id="cityList" value="광주" onclick="printName(this.value)">광주</button>
	<button class="cityList" id="cityList" value="대전" onclick="printName(this.value)">대전</button>
	<button class="cityList" id="cityList" value="울산" onclick="printName(this.value)">울산</button>
	<button class="cityList" id="cityList" value="세종" onclick="printName(this.value)">세종</button>
	<button class="cityList" id="cityList" value="경기" onclick="printName(this.value)">경기</button>
	<button class="cityList" id="cityList" value="강원" onclick="printName(this.value)">강원</button>
	<button class="cityList" id="cityList" value="충북" onclick="printName(this.value)">충북</button>
	<button class="cityList" id="cityList" value="충남" onclick="printName(this.value)">충남</button>
	<button class="cityList" id="cityList" value="전북" onclick="printName(this.value)">전북</button>
	<button class="cityList" id="cityList" value="전남" onclick="printName(this.value)">전남</button>
	<button class="cityList" id="cityList" value="경북" onclick="printName(this.value)">경북</button>
	<button class="cityList" id="cityList" value="경남" onclick="printName(this.value)">경남</button>
	<button class="cityList" id="cityList" value="제주" onclick="printName(this.value)">제주</button>
</div>	

<div class="cityplace">지역별 관광지 출력</div>
</div>
   
</html>
