@charset "UTF-8";

h1 {
	text-align: center;
	 font-size: var(--font-xl);
}

#picture {
	text-align: center;
}

#mainImage {
	margin: 1em;
	width: 50vw;
	height: 30vw;
	border: 2px solid var(--brown);
}

#subImage {
	display:none;
	
}

.sub-image {
	display: block;
	margin: 0 auto;
	width: 50vw;
	height: 30vw;
	margin-top: 5vw;
	border: 2px solid var(--brown);
	
}

#placeInfo{
	margin: 1em auto;
    width: 80%;
    font-size: var(--font-middle);
}

#placeMap {
	margin: 1em auto;
	width:80%;
	height:60vh;;
}

hr {
	margin: 1em auto;
	border: 0px;
	height: 2px;
	background-color: var(--b-color);
	width: 85%;
}
