@charset "UTF-8";

@font-face {
  font-family: 'light';
  src: url(SCDream2.otf) format('truetype');
}
@font-face {
  font-family: 'regular';
  src: url(SCDream4.otf) format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url(SCDream7.otf) format('truetype');
}

:root {
  --font-xxl: 3rem;
  --font-xl: 2.5rem;
  --font-large: 2rem;
  --font-medium: 1.4rem;
  --font-small: 1rem;
  --a-color: #b6b0a9;
  --b-color: #98938d;
  --c-color: #f0ece6;
  --d-color: #ccccc4;
  --e-color: #acaca4;
  --btn-padding: 0.25em 0.8em;
  --input-padding: 0.25em 0 0.25em 0.6em;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'regular';
}

#layoutContainer {
  width: 85%;
  margin: auto;
  border: 5px gray solid;
}

#layoutHeader {
  height: 96px;
  background-color: rgba(0, 0, 0, 0.5);
}
#layoutFooter {
  height: 160px;
  background-color: rgba(0, 0, 0, 0.2);
}

.medium {
  font-size: var(--font-medium);
}
.small {
  font-size: var(--font-small);
}
.large {
  font-size: var(--font-large);
}
button {
  padding: var(--btn-padding);
  border-radius: var(--font-large);
  border: none;
  cursor: pointer;
}
input {
  border-radius: var(--font-large);
  padding: var(--input-padding);
  border: 1px solid var(--a-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
