.admin-header {
	padding: 1.875em 1.875em;
}

.header-text {
	color: #3b270d;
}

h3 {
	margin: 0;
}

hr {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border-bottom: 0.106em solid #b6b0a9;
}

#adminLogout {
	float: right;
	font-family: 'regular';
	color: #b6b0a9;
	cursor: pointer;
}

/*DASH BOARD CONTENT*/
.info-icon {
	font-size: 4.375em;
	padding: 0.625em 1.250em;
}

.info-desc {
	font-size: 1.375em;
}

.text-right {
	text-align: right;
	margin-top: -5.625em;
	padding: 0.625em;
}

/*DASHBOARD CONTENT ENDING*/

.all-border{
	
	 width:100%	
}
.site-info {
	margin: 1em;
	height: AUTO;
	display: flex;
}

.all-quick-info {
	border: 0.250em solid;
	width: 50%;
	height: auto;
	border-radius: var(- -font-large);
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	margin: 0.5em;
}

.info-icon {
	font-size: 4.375em;
	padding: 0.300em 0.5em;
}

.text-right {
	text-align: right;
	margin-top: -5.625em;
	padding: 0.625em;
}

.info-box-footer {
	font-size:0.894em;
	padding: 0.938em 1.250em;
	background-color: #fff;
	border: 0.063em solid #fff;
	border-radius: var(- -font-large);
	text-align: right;
}

.user-href {
	color: #337ab7;
	display: inline-block;
}

.pull-right {
	display: none;
}