  .container {
	    position:relative; 
		width:43.750em; 
		margin:0 auto; 
		padding:0;  
		height:auto;
	}
	
/*	--------------------------------------------------
	:: Multi Column
	-------------------------------------------------- */
	
    .noticedetail-multi-column {
	    margin:0;
		padding:0;
		border:none;
		outline:none;
  
  		font-style: normal;
  		font-weight: normal;
    }
	
	
	
/*	--------------------------------------------------
	:: Top Bar
	-------------------------------------------------- */
	
    .top-form-bar {
        height:0.313em;
        overflow:hidden;
        width:100%;
        margin:0.938em auto 0 auto;
    }

    .top-form-bar .top-bar{
        height:100%;
        float:left;
    }

    .top-bar-green { background-color:#3CBD82; width:100%; }

/*	--------------------------------------------------
	:: Form Header
	-------------------------------------------------- */
	
    .noticedetail-form .header{ 
		padding:1.875em 1.563em;
		text-align:right;
		overflow:hidden;
		background-color:#f5f5f5;
		border-bottom:0.063em solid #e5e5e5;
	}
	
	.noticedetail-form .header h4 { 
        text-align:left;	
	    font-style:normal; 
	    font-weight:normal; 
	    font-size:1.200em; 
		color:#777;
        margin:0;
		padding:0;		 
	}
	
	.noticedetail-form .header i { 
  font-style: normal;
  font-weight: normal;
		font-size:1.200em; 
		color:#777;
		margin-right:0.625em;
		vertical-align:baseline;		 
	}
	
/*	--------------------------------------------------
	:: Form Section
	-------------------------------------------------- */
	
    .noticedetail-form .section { 
		padding:1.875em 1.563em;
		background-color:#f9f9f9;
	}
	
	
	
	
	
	.noticedetail-form .section fieldset {
        margin:0;
		padding:0;
		border:0;
    }
    
    
	
	.column-full-inside{
	text-align:right;
	color:gray;
	font-size:0.875em;
	}
	
	.column-full-title{
	text-align:center;
	font-weight:bold;
	
	}
	
	.column-full-content{
	text-align:center;
	
	
	}
	
	.noticedetail-form .section button { 
	    float:right;
        margin:0 0 0 5px;		
	}
	
	.noticedetail-form .section #loader {
        background-image:url(../Images/loader.gif); 
        background-repeat:no-repeat;
		background-position:0 0;
		margin-top:0.875em;
		margin-left:14.375em;
        width:1.000em;
        height:1.000em;
        display:none;		
	}
	



	
.notice-up-button{
	font-family:'regular';
	background-color:#e0635b;
	font-size:0.813em;
}

.notice-up-button:hover {
        background-color:#CC3D3D;
    }

.notice-up-button:active {
        background-color:#e0635b;
    }



.notice-bac-button{
	font-family:'regular';
	font-size:0.813em;
	background-color:#9FC93C
}
.notice-bac-button:hover {
        background-color:#22741C;
		
    }
	
.notice-bac-button:active {
        background-color:#9FC93C
		
    }



/*	--------------------------------------------------
	:: Note: Design for a width of 768px
	-------------------------------------------------- */
	
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container { width:560px; }
    }

/*	--------------------------------------------------
	:: Note: Design for a width of 480px
	-------------------------------------------------- */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width:420px; }
		
		.newsletter-multi-column .column-full,
        .newsletter-multi-column .column-half,
        .newsletter-multi-column .column-one-third,
        .newsletter-multi-column .column-fouth,
        .newsletter-multi-column .column-fifth,
	    .newsletter-multi-column .column-sixth { 
		    width:360px; 
		}
		
		.newsletter-form .section button { 
	        float:none;
            margin:0 5px 0 0;		
	    }
		
    }
	
/*	--------------------------------------------------
	:: Note: Design for a width of 320px
	-------------------------------------------------- */

    @media only screen and (max-width: 479px) {
        .container { width:300px; }
		
		.newsletter-multi-column .column-full,
        .newsletter-multi-column .column-half,
        .newsletter-multi-column .column-one-third,
        .newsletter-multi-column .column-fouth,
        .newsletter-multi-column .column-fifth,
	    .newsletter-multi-column .column-sixth { 
		    width:240px; 
		}
		
		.newsletter-form .section button { 
	        float:none;
            margin:0 5px 0 0;		
	    }
    }