

    .container {
	    position:relative; 
		width:560px; 
		margin:0 auto; 
		padding:0;  
		height:auto;
	}
	
/*	--------------------------------------------------
	:: Multi Column
	-------------------------------------------------- */
	
    .noticedetail-multi-column {
	    margin:0;
		padding:0;
		border:none;
		outline:none;
    font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
    }
	
	.noticedetail-multi-column .column-full { width:500px; }
    .noticedetail-multi-column .column-half { width:245px; }
    .noticedetail-multi-column .column-one-third { width:160px; }
    .noticedetail-multi-column .column-fouth { width:117.5px; }
    .noticedetail-multi-column .column-fifth { width:92px; }
	.noticedetail-multi-column .column-sixth { width:75px; }
	
    .noticedetail-multi-column .column-full,
    .noticedetail-multi-column .column-half,
    .noticedetail-multi-column .column-one-third,
    .noticedetail-multi-column .column-fourth,
    .noticedetail-multi-column .column-fifth,
	.noticedetail-multi-column .column-sixth{
	    display:inline-block;
	    float:left;
	    margin-left:5px;
		margin-right:5px;
    }
	
/*	--------------------------------------------------
	:: Top Bar
	-------------------------------------------------- */
	
    .top-form-bar {
        height:5px;
        overflow:hidden;
        width:100%;
        margin:15px auto 0 auto;
    }

    .top-form-bar .top-bar{
        height:100%;
        float:left;
    }

    .top-bar-green { background-color:#89bf55; width:100%; }

/*	--------------------------------------------------
	:: Form Header
	-------------------------------------------------- */
	
    .noticedetail-form .header{ 
		padding:30px 25px;
		text-align:right;
		overflow:hidden;
		background-color:#f5f5f5;
		border-bottom:1px solid #e5e5e5;
	}
	
	.noticedetail-form .header h4 { 
        text-align:left;	
	    font-style:normal; 
	    font-weight:normal; 
	    font-family:"Open Sans"; 
	    font-size:16px; 
		color:#777;
        margin:0;
		padding:0;		 
	}
	
	.noticedetail-form .header i { 
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
		font-size:16px; 
		color:#777;
		margin-right:10px;
		vertical-align:baseline;		 
	}
	
/*	--------------------------------------------------
	:: Form Section
	-------------------------------------------------- */
	
    .noticedetail-form .section { 
		padding:30px 25px;
		background-color:#f9f9f9;
	}
	
	.noticedetail-form .section .input-group{
        position:relative;
	    display:block;
    }

	.noticedetail-form .section .input-group input[type="text"],
    .noticedetail-form .section .input-group input[type="email"]{
	    border:1px solid #ccc;
		padding:10px;
		margin-bottom:10px;
	    outline:none;		
	    font-family:"Open Sans"; 
	    font-size:13px;
        color:#999;		
		box-shadow:none;
		font-style:normal;  
	    font-weight:normal;
		background-color:#fff;
	    -webkit-box-sizing:border-box;
	       -moz-box-sizing:border-box; 
	            box-sizing:border-box;
	}
	
	.noticedetail-form .section .input-group input[type="text"],
    .noticedetail-form .section .input-group input[type="email"]{
		width:100%;
	}
	
	.noticedetail-form .section .input-group input[type="text"]:focus,
    .noticedetail-form .section .input-group input[type="email"]:focus{
	    border-color:#bbb;
		color:#333;
		outline:none;
	}

	.noticedetail-form .section .input-group label i{
        position:absolute;
		cursor:pointer;
		top:13px;
		right:20px;
		display:block;
		color:#aaa;
		font-weight:normal; 
		font-style:normal;
		font-size:15px; 
		vertical-align:baseline;
	    -webkit-box-sizing:border-box;
	       -moz-box-sizing:border-box; 
	            box-sizing:border-box;
    }

	.noticedetail-form .section fieldset {
        margin:0;
		padding:0;
		border:0;
    }
	
	.noticedetail-error-message { 
	    display:block; 
        font-family:"Open Sans";		
		font-weight:normal; 
		font-style:normal;
		font-size:13px; 
		background-color:#e0635b;
		border:1px solid #c14b44;
	    border-radius:2px;
	    -moz-border-radius:2px;
	    -webkit-border-radius:2px; 
		padding:8px 20px; 
		margin:0 0 10px 0;
		color:#fff; 
		line-height:18px;
		-webkit-font-smoothing:antialiased;
	}
	
	.noticedetail-error-message a{ 
	    display:block; 
        font-family:"Open Sans";		
		font-weight:normal; 
		font-style:normal;
		font-size:13px; 
		color:#fff; 
		text-decoration:none;
		-webkit-font-smoothing:antialiased;
	}

	.noticedetail-success-message { 
	    display:block; 
        font-family:"Open Sans";		
		font-weight:normal; 
		font-style:normal;
		font-size:13px; 
		background-color:#96aa39;
		border:1px solid #7b8b2f;
	    border-radius:2px;
	    -moz-border-radius:2px;
	    -webkit-border-radius:2px; 
		padding:8px 20px; 
		margin:0 0 10px 0;
		color:#fff; 
		-webkit-font-smoothing:antialiased;
	}
	
	#newsletter-message { margin:0; padding:0; }
	
	.noticedetail-form .section button { 
	    float:right;
        margin:0 0 0 5px;		
	}
	
	.noticedetail-form .section #loader {
        background-image:url(../Images/loader.gif); 
        background-repeat:no-repeat;
		background-position:0 0;
		margin-top:14px;
		margin-left:230px;
        width:16px;
        height:16px;
        display:none;		
	}
	
/*	--------------------------------------------------
	:: Button Container & Sizes
	-------------------------------------------------- */	
	
	button.button-large {  
		padding:15px 30px 14px 30px;
		margin:0 0 5px 0;
	}
	
	button.button-large i{  
		font-style:normal; 
	    font-weight:normal; 
	    font-size:13px; 
	    color:#fff;
        margin-right:10px;
		vertical-align:baseline;
	}
	
	button.button-normal{ 
		padding:13px 25px 12px 25px;
		margin:0 0 5px 0;
	}
	
	button.button-normal i{  
		font-style:normal; 
	    font-weight:normal; 
	    font-size:13px; 
	    color:#fff;
        margin-right:10px;
		vertical-align:baseline;
	}
	
	button.button-small{ 
		padding:11px 20px 10px 20px;
		margin:0 0 5px 0;
	}
	
	button.button-small i{  
		font-style:normal; 
	    font-weight:normal; 
	    font-size:13px; 
	    color:#fff;
        margin-right:10px;
		vertical-align:baseline;
	}
	
	button.button-mini{ 
		padding:9px 15px 8px 15px;
		margin:0 0 5px 0;
	}
	
	button.button-mini i{  
		font-style:normal; 
	    font-weight:normal; 
	    font-size:13px; 
	    color:#fff;
        margin-right:10px;
		vertical-align:baseline;
	}

/*	--------------------------------------------------
	:: Button Configuration
	-------------------------------------------------- */
	
    .button{
	    display:inline-block;
	    position:relative;
        font-style:normal; 
	    font-weight:normal; 
	    font-family:"Open Sans"; 
	    font-size:14px;
		margin:0;
	    color:#fff;
		border:none;
		outline:none;
	    text-decoration:none;
        text-align:center;
		cursor:pointer;
		-webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
    }
	
/*	--------------------------------------------------
	:: Button Blue
	-------------------------------------------------- */
	
	.button-blue {
	    background-color:#618da1;
		border-bottom:1px solid #447085;
    }
	
	.button-blue:hover {
        background-color:#5b879a;
		border-bottom:1px solid #447085;
    }
	
	.button-blue:active {
        background-color:#618da1;
		border-bottom:1px solid #447085;
    }
	
/*	--------------------------------------------------
	:: Button Red
	-------------------------------------------------- */

	.button-red {
	    background-color:#e0635b;
		border-bottom:1px solid #c14b44;
    }
	
	.button-red:hover {
        background-color:#d76059;
		border-bottom:1px solid #c14b44;
    }
	
	.button-red:active {
        background-color:#e0635b;
		border-bottom:1px solid #c14b44;
    }
	
/*	--------------------------------------------------
	:: Button Green
	-------------------------------------------------- */
	
	.button-green {
	    background-color:#96aa39;
		border-bottom:1px solid #7b8b2f;
    }
	
	.button-green:hover {
        background-color:#8ea134;
		border-bottom:1px solid #7b8b2f;
    }
	
	.button-green:active {
        background-color:#96aa39;
		border-bottom:1px solid #7b8b2f;
    }
	
/*	--------------------------------------------------
	:: Button Orange
	-------------------------------------------------- */
	
	.button-orange {
	    background-color:#de5f41;
		border-bottom:1px solid #be4527;
    }
	
	.button-orange:hover {
        background-color:#d45639;
		border-bottom:1px solid #be4527;
    }
	
	.button-orange:active {
        background-color:#de5f41;
		border-bottom:1px solid #be4527;
    }	
	
/*	--------------------------------------------------
	:: Note: Design for a width of 768px
	-------------------------------------------------- */
	
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container { width:560px; }
    }

/*	--------------------------------------------------
	:: Note: Design for a width of 480px
	-------------------------------------------------- */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width:420px; }
		
		.newsletter-multi-column .column-full,
        .newsletter-multi-column .column-half,
        .newsletter-multi-column .column-one-third,
        .newsletter-multi-column .column-fouth,
        .newsletter-multi-column .column-fifth,
	    .newsletter-multi-column .column-sixth { 
		    width:360px; 
		}
		
		.newsletter-form .section button { 
	        float:none;
            margin:0 5px 0 0;		
	    }
		
    }
	
/*	--------------------------------------------------
	:: Note: Design for a width of 320px
	-------------------------------------------------- */

    @media only screen and (max-width: 479px) {
        .container { width:300px; }
		
		.newsletter-multi-column .column-full,
        .newsletter-multi-column .column-half,
        .newsletter-multi-column .column-one-third,
        .newsletter-multi-column .column-fouth,
        .newsletter-multi-column .column-fifth,
	    .newsletter-multi-column .column-sixth { 
		    width:240px; 
		}
		
		.newsletter-form .section button { 
	        float:none;
            margin:0 5px 0 0;		
	    }
    }