.top-box__h3{
    color: #b6b0a9;
}

#topBox{
    margin-top: 3%;
    margin-left: 10%;
}

hr{
    width: 89%;
    height: 3px;
    background-color: #353535;
    border: 0;

}

.hr2{
    width: 100%;
    height: 2px;
    background-color: #b6b0a9;
    border: 0;
}
#middleBox{
    display: flex;
    justify-content: center;
}

#mainBox{
    width: 65%;
    height: 100%;
    margin-bottom: 100px;
}

#navBox{
    width: 13%;
    height: 50vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #f0ece6;
    position: sticky;
    top: 30%;
    margin-left: 2%;
}

.nav-text{
    margin-left: 20px;
    margin-top: 20px;
    color: #98938d;
}
.nav-text:nth-child(3){
    color: #98938d;
    font-weight: bold;
    background-color: #ccccc4;
    border-radius: 100px;
    width: 50px;
    text-align: center;
}

.answer-box{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-box{
    width: 100px;
    height: 100px;
    background-color: #353535;
    border-radius: 100px;
}
.answer-info__box{
    display: flex;
    justify-content: space-between;
    width:86%;
    margin-left: 4%;
}


.answer-icon{
    font-size: 25px;
    cursor: pointer;
}

.answer-name{
    font-size: 2rem;
    margin-bottom: 10px;
}
.answer-start{
    margin-bottom: 10px;
}

.answer-info span{
    margin-right: 10px;
}

.count-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.count-box__answer{
    display: flex;
    color: #98938d;
}
.count-box__answer-text a{
    margin-right: 5px;
    color: #98938d;
}

.count-box__reanswer-text a{
    margin-left: 5px;
    color: #98938d;
}
