#DetailInfo-Reservation{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}




#DetailInfo-MainBox{
    width: 67%;
}
#HostId{
    
}



#Reservation-MainBox{
    width: 27%;
    height: 40vh;
    position: sticky;
    top: 30%;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    box-shadow:2px 2px 7px #353535;
}

#InfoIcon{
    width: 500px;
    height: 500px;
}

#InfoIcon p span{
    vertical-align: middle;
    margin-right: 10px;
}