
  /*----------------
  ---Main Content---
  ----------------*/
  
  .site-content{
      margin: 100px auto;
      width: 940px;
      height: 200px;
      font-family: Circular,Helvetica,Arial,sans-serif;
  }
  
  /*---title---*/
      .title{
          font-size: 46px;
          font-weight: 100;
          color: #484848;
          margin-bottom: 60px;
      }
      .title span{
          font-weight: 800;
          color: #FF5A5F;
      } */

        .page-container, .page-container-responsive {
            margin-left: auto;
            margin-right: auto;
        }
        .page-container:before, .page-container-responsive:before, .page-container:after, .page-container-responsive:after {
            content: " ";
            display: table;
        }
        .page-container:after, .page-container-responsive:after {
            clear: both;
        }
        .page-container:before, .page-container-responsive:before, .page-container:after, .page-container-responsive:after {
            content: " ";
            display: table;
        }
        .text-contrast {
            color: #fff;
        }
        h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
            margin-top: 0;
        }
        .space-1 {
            margin-bottom: 6px;
        }
        .text-jumbo {
            font-size: 60px;
            font-weight: 700;
        }
        .space-6 {
            margin-bottom: 36px;
        }
        .space-top-1 {
            margin-top: 6px;
        }
        h3, .h3 {
            font-size: 24px;
            font-weight: normal;
        }
        .btn-primary {
            border-color: #ff5a5f;
            background-color: #ff5a5f;
            color: #fff;
        }
        .btn-large {
            padding: 9px 27px;
            font-size: 16px;
        }
        .btn {
          display: inline-block;
          margin-bottom: 0;
          border-radius: 4px;
          text-align: center;
          vertical-align: middle;
          font-weight: bold;
          line-height: 1.43;
          user-select: none;
          white-space: nowrap;
          cursor: pointer;
        }
        .space-top-8 {
            margin-top: 48px;
        }
        .row {
            margin-left: -12px;
            margin-right: -12px;
        }
        .space-8 {
            margin-bottom: 48px;
        }
        .row:before, .row:after {
            content: " ";
            display: table;
        }
        .row:after {
            clear: both;
        }
        .row:before, .row:after {
            content: " ";
            display: table;
        }
        .col-center {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .col-sm-11 {
          width: 91.66667%;
        }
        .col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .text-center {
            text-align: center;
        }
        h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
            margin-top: 0;
        }
        .section-header--thin {
            font-weight: 300;
            line-height: 1.43;
        }
        ul.panel-condensed>li, ol.panel-condensed>li, .panel-condensed {
            padding: 14px;
        }
        .space-left-2 {
            margin-left: 12.5px;
        }
        .text-muted {
            color: #767676;
        }
        .space-left-10 {
            margin-left: 62.5px;
        }
        h4, .h4 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .icon-size-2 {
            font-size: 2.4em;
        }
        .icon-id-card:before {
          content: '\f195';
        }
        .icon:before {
            line-height: 1;
        }
        .icon:before {
            font-family: Airglyphs, sans-serif;
        }
        .icon-home:before {
          content: '\f18e';
        }
        .icon-ok:before {
          content: '\f1b3';
        }
        a {
            color: #008489;
            text-decoration: none;
        }
        a {
            background: transparent;
        }
        section.value-proposition .col {
            padding: 0;
        }
        .col-sm-12 {
            width: 100%;
            float: left;
        }
        section.value-proposition .col-table {
            background-color: #2d2d2d;
            display: table;
            min-height: 600px;
        }
        section.value-proposition .col {
            padding: 0;
        }
        .col-sm-12 {
            width: 100%;
            float: left;
        }
     
        
        .media-photo {
          backface-visibility: hidden;
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          overflow: hidden;
          background-color: #bbb;
        }
        .img-round, .media-round {
          border-radius: 50%;
        }
       
        @media (min-width: 1128px) {
          .page-container-responsive {
              width: 1080px;
          }
          .hide-lg {
              display: none !important;
          }
        }
        @media (min-width: 744px) {
          .page-container, .page-container-responsive {
              padding-left: 24px;
              padding-right: 24px;
          }
          .col-md-4 {
              width: 33.33333%;
              float: left;
          }
          section.value-proposition .col-image {
              height: 100%;
              width: 60%;
          }
          section.value-proposition .col-image, section.value-proposition .col-text {
              display: table-cell;
          }
        }
      
      
    
      
          .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before   {
            display: table;
            content: " ";
        }
        
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .float-img {
            position: absolute;
            left: 0;
            max-width: 650px;
            vertical-align: middle;  
            border: 0;
        }
       
        .visible-lg, .visible-md, .visible-sm, .visible-xs {
          display: none!important;
        }
        .btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
            clear: both;
        }
      
     
        .container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
        }
        .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
            content: " ";
            display: table;
        }
        .clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .pager:after, .panel-body:after, .modal-footer:after {
            clear: both;
        }
        .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
            content: " ";
            display: table;
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        @media (min-width: 768px) {
          .signuppage {
              min-height: 850px;
          }
        }
        @media (min-width: 1200px) {
          .container {
              width: 1170px;
          }
          .col-lg-6 {
              width: 50%;
          }
          .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
              float: left;
          }
          .col-lg-offset-2 {
              margin-left: 16.66666667%;
          }
          .col-lg-2 {
              width: 16.66666667%;
          }
          .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
              float: left;
          }
        }
      
  