<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
 <th:block layout:fragment="css">
 <link rel="stylesheet" th:href="@{css/home.css}">
 <link rel="stylesheet" th:href="@{css/mypage.css}">
</th:block> 

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script" >
	<script th:src="@{js/home.js}"></script>
</th:block>

<div layout:fragment="content">
            <h1>마이페이지</h1>
            <hr>
            <div id="myPageBox">
                  <div>user</div>
                  <div>코스</div>
                  <div>즐겨찾기</div>
                  <div>댓글</div>

            </div>
</div>
   
</html>