<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/admin/list.css}">
</th:block>


<th:block layout:fragment="script">
<script th:src="@{/js/hostlist.js}" defer></script>
</th:block>


<div layout:fragment="content">

	<!-- Sub Title -->
	<div class="opt_tit">
	<h1>승인대기 리스트</h1>
		<div class="opt_tit_right">
		
			<div class="elmt">
			
			<a href="/admin" class="btn_txt btn_type_c btn_color_a"> <span
					class="txt">메인으로 </span>
				</a>
			</div>
			
		</div>
		
	</div>
	<br>
	<!-- //Sub Title -->

	<!-- Board List -->
	<div class="board_list">
		<table class="board_list_table">
			<colgroup>
				
				<col width="80" />
				<col width="80" />
				<col width="150" />
				<col width="150" />
				
			</colgroup>
			<thead>
				<tr class="board_list_row">
				
					<th class="board_list_head" scope="col">고유번호</th>
					<th class="board_list_head" scope="col">이름</th>
					<th class="board_list_head" scope="col">제목</th>
					<th class="board_list_head" scope="col">주소</th>
				</tr>
			</thead>
			<tbody class="list-low">
			</tbody>
		</table>
	</div>
	<!-- //Board List -->

	<!-- Page Navigation -->
	<div class="page_wrap">
		<div class="page_nation">
		
		</div>
	</div>
</div>




</html>