<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{../css/admin/list.css}">
</th:block>

<div layout:fragment="content">

	<!-- Sub Title -->
	<div class="opt_tit">

		<div class="opt_tit_right">
			<div class="elmt">
				<a href="#" class="btn_txt btn_type_c btn_color_a"> <span
					class="txt">댓글 | </span>
				</a> <a href="#" class="btn_txt btn_type_c btn_color_b"> <span
					class="txt"> 덧글</span>
				</a>

			</div>
		</div>
	</div>
	<!-- //Sub Title -->

	<!-- Board List -->
	<div class="board_list">
		<table class="board_list_table">
			<colgroup>
				<col width="55" />
				<col width="55" />
				<col width="" />
				<col width="" />
				<col width="" />
				<col width="170" />
				<col width="100" />
				<col width="50" />
			</colgroup>
			<thead>
				<tr class="board_list_row">
					<th class="board_list_head" scope="col">번호</th>
					<th class="board_list_head" scope="col">이름</th>
					<th class="board_list_head" scope="col">제목</th>
					<th class="board_list_head" scope="col">등록일</th>
					<th class="board_list_head" scope="col">xx</th>
					<th class="board_list_head" scope="col">xx</th>
					<th class="board_list_head" scope="col">처리상태</th>
					<th class="board_list_head" scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr class="board_list_row">
					<td class="board_list_data">1</td>
					<td class="board_list_data">길동</td>
					<td class="board_list_data">홍길동</td>
					<td class="board_list_data">2015-12-31</td>
					<td class="board_list_data">xx</td>
					<td class="board_list_data">xx</td>
					<td class="board_list_data">Y</td>
					<td class="board_list_data"><a href="#"
						class="btn_txt btn_type_d btn_color_a"> <span class="txt">조회</span>
					</a></td>
				</tr>
				<tr class="board_list_row">
					<td class="board_list_data">2</td>
					<td class="board_list_data">길동</td>
					<td class="board_list_data">홍길동</td>
					<td class="board_list_data">2015-12-31</td>
					<td class="board_list_data">xx</td>
					<td class="board_list_data">xx</td>
					<td class="board_list_data">Y</td>
					<td class="board_list_data"><a href="#"
						class="btn_txt btn_type_d btn_color_a"> <span class="txt">조회</span>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //Board List -->

	<!-- Page Navigation -->
	<div class="page_wrap">
		<div class="page_nation">
			<a class="arrow pprev" href="#"></a> <a class="arrow prev" href="#"></a>
			<a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a>
			<a href="#">4</a> <a href="#">5</a> <a href="#">6</a> <a href="#">7</a>
			<a href="#">8</a> <a href="#">9</a> <a href="#">10</a> <a
				class="arrow next" href="#"></a> <a class="arrow nnext" href="#"></a>
		</div>
	</div>
</div>




</html>