.reservationTable {
    margin: 0 auto;
    width: 55vw;
    border-bottom: 3px solid gray;
    clear: both;

}

.reservationTable th {
    border-bottom: 3px solid gray;
}

#writeDay {
    width: 7vw;
}

#homestayName {
    width: 20vw;
}

#approval {
    width: 10vw;
}
