.reservationTable {
    margin: 0 auto;
    width: 55vw;
    border-bottom: 3px solid gray;

}

.reservationTable th {
    border: 1px solid gray;
}

#writeDay {
    width: 7vw;
}

#homestayName {
    width: 30vw;
}

#person {
    width: 5vw;
}
