<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
 <th:block layout:fragment="css">
 <link rel="stylesheet" th:href="@{/css/course/detail.css}">
</th:block> 

<!-- index.html 고유 스크립트 추가 -->

<th:block layout:fragment="script" >
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=31ce38fe7ad5a778d898c960e51d1167"></script>
      <script th:src="@{/js/courseDetail.js}" defer></script>
</th:block>

<div layout:fragment="content">
      
      <div id="topBox">
            <h3 class="top-box__h3">코스</h3>
            <h1 id="courseTitle">관광지 타이틀</h1>
            <h4 class="course-km">코스총거리</h4>
            <div id="iconBox">
                  <div id="leftIconBox">
                        <i id="likeIcon" class="far fa-thumbs-up"></i>
                        <i id="shareIcon" class="fas fa-share-alt"></i>
                  </div>
                  <div id="rightIconBox">
                        <i id="favoriteIcon" class="fas fa-star"></i>
                        <i id="saveIcon" class="fas fa-bookmark"></i>
                  </div>
            </div>
            <!-- 모달 -->
            <div id="myModal" class="modal">
                  <div class="modal-content">
                        <h2>공유하기</h2>
                        <button onclick="getURL()">공유하기</button>
                        <p id="urlText"></p>
                        
                  </div>
            </div>
            <!-- ㅡ -->
            <hr>
      </div>
      <div id="middleBox">
            <div id="mainBox">
                  
                  <div id="temaBox">
                        <div class="duringBox">
                              <i class="far fa-calendar-alt tema-icon"></i>
                              <span id="duringText" class="tema-text">1박2일</span>
                        </div>
                        <div class="whoBox">
                              <i class="fas fa-user-friends tema-icon"></i>
                              <span id="whoText" class="tema-text">나홀로여행</span>
                        </div>
                        <div class="howBox">
                              <i class="fas fa-bus tema-icon"></i>
                              <span id="howText" class="tema-text">기차여행</span>
                        </div>
                  </div>


                  <div id="contentBox">
                        컨텐츠 박스
                  </div>
                  
                  <hr class="hr2">
                  <!-- 반복문 -->

                  <div id="placeBox">
                  <div class="course-box">
                        <div class="image-box">
                              <img src="" alt="">
                        </div>
                        <div class="course-info__box">
                              <div class="course-info">
                                    <p class="course-name">관광지 이름</p>
                                    <p class="course-start">관광지 지역</p>
                                    
                              </div>
                              <i class="fas fa-ellipsis-v course-icon"></i>
                        </div>
                  </div>
                  <hr class="hr2">
                  </div>
                  <!-- 반복문 -->
              

                  <div id="mapBox"></div>

            </div>
      </div>
</div>
   
</html>