<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
 <th:block layout:fragment="css">
 
 
 <link rel="stylesheet" th:href="@{/css/mypage/favorite.css}">
</th:block> 

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script" >
<script th:src="@{/js/courselist.js}" defer></script>
</th:block>

<div layout:fragment="content">
      <div id="topBox">
            <h1 class="top-box__h1">코스</h1>
            <hr>
      </div>
      <div id="middleBox">
            <div id="mainBox">
                  <div class="count-box">
                        <h4></h4>
                        <div class="favorite-temabox">
                              <h4 class="favorite-box__course-text"><a href="">인기</a></h4>|
                              <h4 class="favorite-box__tourist-text"><a href="">최신</a></h4>
                        </div>
                  </div>
                  <hr class="hr2">
            
                  <hr class="hr2">
                  <!-- 반복문 -->
                  
                  
            </div>
            <div id="navBox">
                  <a th:href="@{/mypage/courselist}" class="nav-text">코스</a>
                  <a th:href="@{/mypage/favorite}" class="nav-text">즐겨찾기</a>
                  <a th:href="@{/mypage/answer}" class="nav-text">댓글</a>
            </div>

      </div>
      <div id="paging" th:currentPage="${currentPage}" ></div>
</div>
   
</html>