

#HouseDetail__mainBox{
    width: 85%;
    margin: auto;
    margin-top: 60px;
}

#infoBox{
    display: flex;
    justify-content: space-between;
}

.infoBox__sub{
    display: flex;
}

#houseStar__span{
    margin-right: 20px;
}


#share, .favorite{
    cursor: pointer;
    vertical-align: middle;
    
}

#star, #mapicon{
    vertical-align: middle;
}

#star{
    margin-right: 5px;
}
#share, .favorite{
    margin-left: 5px;
    margin-right: 5px;
}

#mapicon{
    margin-right: 5px;
}



