.progress {
  margin: 300px auto;
}
ul {
  text-align: center;
}
ul li {
  display: inline-block;
  width: 200px;
  position: relative;
}
ul li i {
  font-size: 20px;
}

ul li i::after {
  width: 200px;
  
}
