.login-wrap {
	background-color: #f0ece6;
	height: 80%;
	width: 100%;
	padding: 1.875em;
	border-radius: 0.813em;
	display: block;
	margin: auto;
	margin-bottom: 3.125em;
	max-width: 32.813em;
	min-height:  41.875em;
	position: relative;
}

hr {
	border-bottom: 0.106em solid #ccccc4;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

h2 {
	margin: 0;
	padding-bottom: 0.313em;
	color: #3b270d;
	font-weight: bold;
	font-size: 1.563em;
	text-align: center;
}

h3 {
	text-decoration: none;
	color: #ccccc4;
	font-size: 0.938em;
	margin: 0.313em 0.313em 1.250em 0.313em;
	padding-left: 0.313em;
	padding-bottom: 0.313em;
	text-align: center;
	height: 1.750em;
}


hr {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.insert-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	color: #fff;
	padding: 1.875em 0;
}

.insert-wrap input {
	display: block;
	width: 18.750em;
	margin: 1.250em auto;
	padding: 0.938em;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	border: 0;
}

.insert-wrap button {
	background: #3CBD82;
	border: 0;
	color: #fff;
	padding: 0.625em;
	font-size: 1em;
	width: 17.2em;
	margin: 2.3em auto;
	display: block;
	cursor: pointer;
}

.form-wrap {
	position: relative;
}