.login-wrap {
	height: 80%;
	width: 100%;
	padding: 1.875em;
	border-radius: 0.813em;
	display: block;
	margin: auto;
	margin-bottom: 3.125em;
	max-width: 32.813em;
	min-height: 41.875em;
	position: relative;
}

hr {
	border-bottom: 0.106em solid #ccccc4;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

h2 {
	margin: 0;
	color: #3b270d;
	font-weight: bold;
	font-size: 1.563em;
	text-align: center;
}

h3 {
	text-decoration: none;
	color: #ccccc4;
	font-size: 0.938em;
	margin: 0.313em 0.313em 1.250em 0.313em;
	padding-left: 0.313em;
	padding-bottom: 0.313em;
	text-align: center;
	height: 1.750em;
}

label {
	text-transform: uppercase;
	font-weight: 700;
}

.movebtn {
	padding: 0.500em 0.750em;
	margin: 0.313em 0;
	border: 0.125em solid #78788c;
	background: 0;
	color: #3b270d;
	cursor: pointer;
}

.movebtn:hover {
	border-color: #fff;
	box-shadow: 0em 0 0.313em 0 #646171;
}

.login-btn {
	margin-top: 3.125em;
	width: 100%;
	text-align: center;
}

.relative {
	position: relative;
}

.form-group {
	margin-bottom: 1.250em;
}

.form-control {
	font-size: 0.875em;
	padding-left: 2.500em;
	border: none;
	border-radius: 0;
}

.login-text {
	position: absolute;
	color: #ccccc4;
	top: -0.688em;
	text-align: center;
	width: 30%;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
}

#btnKakao {
	font-weight: bold;
	font-family: 'regular';
	background-color: #FCCE00;
	border: none;
	display: inline-block;
	width: 70%;
	background-image: none;
	padding: 0.500em 0.625em;
}

#btnNaver {
	font-weight: 10;
	font-family: 'regular';
	border-color: #04CF5C;
	display: inline-block;
	width: 70%;
	background-image: none;
	padding: 0.500em 0.625em;
}

#btnGoogle {
	font-weight: 10;
	font-family: 'regular';
	border-color: #EA4335;
	display: inline-block;
	width: 70%;
	background-image: none;
	padding:0.500em 0.625em;
}