.login-wrap {
	height: 80%;
	width: 100%;
	padding: 30px;
	border-radius: 13px;
	display: block;
	margin: auto;
	margin-bottom: 50px;
	max-width: 525px;
	min-height: 670px;
	position: relative;
}

hr {
	border-bottom: 1.7px solid #ccccc4;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

h2 {
	margin: 0;
	color: #3b270d;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

h3 {
	text-decoration: none;
	color: #ccccc4;
	font-size: 15px;
	margin: 5px 5px 20px 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: center;
	height: 28px;
}

label {
	text-transform: uppercase;
	font-weight: 700;
}

.movebtn {
	padding: 8px 12px;
	margin: 5px 0;
	border: 2px solid #78788c;
	background: 0;
	color: #3b270d;
	cursor: pointer;
}

.movebtn:hover {
	border-color: #fff;
	box-shadow: 0px 0 5px 0 #646171;
}

.login-btn {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.relative {
	position: relative;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	font-size: 14px;
	padding-left: 40px;
	border: none;
	border-radius: 0;
}

.login-text {
	position: absolute;
	color: #ccccc4;
	top: -11px;
	text-align: center;
	width: 30%;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
}

#btnKakao {
	font-weight: bold;
	font-family: 'regular';
	background-color: #FCCE00;
	border: none;
	display: inline-block;
	width: 70%;
	background-image: none;
	padding: 8px 10px;
}

#btnNaver {
	font-weight: 10;
	font-family: 'regular';
	border-color: #04CF5C;
	display: inline-block;
	width: 70%;
	background-image: none;
	padding: 8px 10px;
}

#btnGoogle {
	font-weight: 10;
	font-family: 'regular';
	border-color: #EA4335;
	display: inline-block;
	width: 70%;
	background-image: none;
	padding: 8px 10px;
}