<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" id="layoutFooter">

    <div class="footer">
        <img th:src="@{/img/logo_gray.png}" alt="logo" class="footer-logo">
       <div class="description"> 라온나드리 
        raonnaduri@gmail.com</div>
       
       <div class="reference">
        <img th:src="@{/img/logo_foot_api.png}" alt="api-logo" class="footer-logo">
        <img th:src="@{/img/logo_foot_unsplash.png}" alt="api-logo" class="footer-logo">
     </div>
    </div>

</footer>

</html>