body {
  margin: 0;
  font-family: 'regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: black;
}
a:-webkit-any-link {
  text-decoration: none;
}
@font-face {
  font-family: 'light';
  src: url(font/SCDream2.otf) format('truetype');
}
@font-face {
  font-family: 'regular';
  src: url(font/SCDream4.otf) format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url(font/SCDream7.otf) format('truetype');
}
